################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ThermoSensorsCalcutator/FileContentIndex/6d722926-d2b9-4ba4-9b9f-f026fd321ca8.vsidx
/.vs/ThermoSensorsCalcutator/FileContentIndex/read.lock
/.vs/ThermoSensorsCalcutator/FileContentIndex/a9c6400d-00a6-408e-9e3d-e7b47c6cd8b5.vsidx
/.vs/ThermoSensorsCalcutator/v17/.suo
/.vs/ThermoSensorsCalcutator/v17/.wsuo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.gitignore
/.gitignore
